@model Business.Dtos.UserRegForm

@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Register";
}

<div class="modal fade show d-block align-content-center"
     id="registerModal"
     tabindex="-1"
     aria-labelledby="registerModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-white">
            <div class="text-center my-5 bg-white">
                <h1 class="modal-title fs-3" id="registerModalLabel">
                    Create Account
                </h1>
            </div>
            <div>
                <div class="d-flex justify-content-center mb-5">
                    <div class="btnGoogle">
                        <img src="~/images/google.svg" alt="Google" width="15" height="16" />
                        <button type="button" class="btn">Register with Google</button>
                    </div>
                </div>
            </div>
            <div class="px-5 mb-4">
                <div class="position-relative">
                    <hr class="text-muted" />
                    <div class="position-absolute top-50 start-50 translate-middle px-3 bg-white text-muted small">
                        OR
                    </div>
                </div>
            </div>
            <div class="modal-body bg-white">
                <div class="container-fluid px-5 bg-white">
                    <form asp-action="Register" asp-controller="Auth" method="post">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="mb-3">
                            <label asp-for="FirstName" class="form-label"></label>
                            <input asp-for="FirstName" class="form-control formBorder" placeholder="Your first name" />
                            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                        </div>

                        
                        <div class="mb-3">
                            <label asp-for="LastName" class="form-label"></label>
                            <input asp-for="LastName" class="form-control formBorder" placeholder="Your last name" />
                            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                        </div>

                        
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" class="form-control formBorder" placeholder="Your email address" />
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>

                        
                        <div class="mb-3">
                            <label asp-for="PhoneNumber" class="form-label"></label>
                            <input asp-for="PhoneNumber" class="form-control formBorder" placeholder="Your phone number" />
                            @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                        </div>

                       
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label"></label>
                            <input asp-for="Password" class="form-control formBorder" placeholder="Enter your password" />
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>

                        
                        <div class="mb-3">
                            <label asp-for="ConfirmPassword" class="form-label"></label>
                            <input asp-for="ConfirmPassword" class="form-control formBorder" placeholder="Confirm your password" />
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>

                        <div class="container-fluid bg-white">
                            <div class="form-check">
                                <input asp-for="TermsAndCondition" class="form-check-input" id="termsCheckbox" />
                                <label class="form-check-label" for="termsCheckbox">
                                    I accept
                                </label>
                                <a href="/Home/Privacy" class="text-decoration-none ms-1">
                                    Terms and Conditions.
                                </a>
                                @Html.ValidationMessageFor(m => m.TermsAndCondition, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="d-flex justify-content-center mb-5 bg-white">
                            <button type="submit" class="btnAuth">Create Account</button>
                        </div>
                    </form>

                </div>
            </div>
            <div class="d-flex justify-content-center mb-3 bg-white">
                <span>
                    Already have an account?
                    <a href="/auth/login" class="text-decoration-none">
                        Login
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>